@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
}  

body{
background:#EEEEEE; 
font-family: 'poppins', sans-serif;
}

.container{
padding:25px;  
width:340px;
border-radius:7px;
background:#393939;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.container .title{
text-align:center;
font-size:15px;
color:white;
}

.container .result-box{
height:80px;   
margin-top:5px;
}

.container .result-box input{
all:unset;   
height:60px;
width:250px;
color:white;
font-size:35px;
float:right;
margin-top:20px;
text-align:right;
font-weight:600;
}

.container .btns-box{
margin-top:15px;
border-top:.5px solid white;
padding:-3px;
}

.container .btns-box button{
all:unset;    
height:60px;
width:60px;
background:#272727;
border-radius:3px;
color:white;
display:flex;
align-items:center;
justify-content:center;
float:left;
margin-left:12px;
margin-top:15px;
position:relative;
left:-5px;
cursor:pointer;
font-size:17px;
}

.container .btns-box .eval-btn{
background:#E50027;        
}

.container .btns-box .color-btn{
color:#E50027;  
}
